@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap");

/* Color sheme 
black-navbar: #050A0F,
color-player:#282828,
color-links-sideNav: #b3b3b3
*/

:root {
  --color-navbar: #050a0f;
  --color-player: #282828;
  --main-font: "Montserrat", sans- serif;
  --color-links-sideNav: #b3b3b3;
  --color-dividers-login: #d9dadc;
  --plyer-height-desktop: 90px;
  --color-green: #15883e;
  --color-bacl-hover: #282828;
  --color-background: #181818;
}
/*---------------------------- UTILS------------------------------ */

/*---------------------------- SCHELETON AND GENERAL SETTINGS------------------------------ */
.wrapper {
  font-family: var(--main-font);
  min-height: 100vh;
  padding-bottom: 90px;
}
.container-fluid {
  background-color: var(--color-background);
  margin: 0;
  max-width: none;
}
.container-album {
  background-color: #0f0f0f;
}
.container-index {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    343deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(62, 131, 177, 1) 100%
  );
}
.col-12 {
  padding: 0;
}
.col-6,
.col-md-4,
.col-lg-3 {
  padding: 8px;
}
.hidden {
  display: none;
}
button:focus {
  outline: 0;
}
a {
  text-decoration: none;
}
.fav-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}
.spinner {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 21231213;
}
.bedge {
  padding: 20px 20px;
  border-radius: 10px;
  background-color: var(--color-green);
  color: white;
  position: fixed;
  top: 5%;
  right: 10%;
  opacity: 0;
  animation: bedge 5s ease-in;
  z-index: 323132;
}
.no-background {
  background-color: transparent;
}

@keyframes bedge {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  20% {
    transform: translateX(3px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}
/*----------------------------- BUTTONS---------------------------------- */

.btn-fb {
  color: rgb(255, 255, 255);
  background-color: rgb(59, 89, 152);
}
.btn-login:hover {
  transform: translateY(2px);
}
.btn-login {
  font-size: 14px;
  line-height: 1;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  text-align: center;
  font-weight: 500;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0px;
  transition: all 0.3s ease-in;
}
a.btn-login,
a.btn-login.bt-fb {
  text-decoration: none;
}
.btn-black {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.btn-default {
  color: rgb(97, 100, 103);
  box-shadow: rgb(97, 100, 103) 0px 0px 0px 2px inset;
  background-color: transparent;
}
.btn-green {
  color: rgb(255, 255, 255);
  background-color: rgb(21, 136, 62);
  outline: none;
}
.btn-green:hover {
  outline: none;
  background-color: rgb(24, 214, 91);
}
.btn-dark-trasparent {
  background-color: rgba(25, 20, 20, 0.3);
  border: solid 2px var(--color-links-sideNav);
  color: white;
}
.btn-modals {
  padding: 10px 10px;
}

/* ---------------------------------------NAV ARROWS--------------------------------- */
.navArrows {
  position: fixed;
  top: 50x;
  left: 16%;
  color: var(--color-links-sideNav);
  z-index: 9999;
  min-width: 100px;
}
.navArrows a i {
  padding: 10px 12px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  margin: 10px 7px;
  color: var(--color-links-sideNav);
}
.navArrows a i:hover {
  transform: scaleX(3%);
  cursor: pointer;
  color: whitesmoke;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
}
/* ---------------------------------------SIDENAV--------------------------------- */

.sideNav {
  width: 20vw;
  min-width: 240px;
  max-width: 250px;
  min-height: 80vh;
  background-color: var(--color-navbar);
  padding: 1.5em;
  position: relative;
}
.sideNav__top {
  position: fixed;
  top: 30px;
}
.sideNav__logo img {
  width: 18vw;
  max-width: 130px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.sideNav__nav-links a {
  color: var(--color-links-sideNav);
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sideNav__nav-links a:hover {
  background-color: var(--color-player);
  cursor: pointer;
}
.sideNav__playlist {
  height: 500px;
  overflow-y: scroll;
}
.sideNav__playlist a {
  margin-bottom: 30px;
}
.sideNav__playlist h6 {
  color: var(--color-links-sideNav);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
}
.sideNav__nav-addPlay i {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: var(--color-links-sideNav);
  color: black;
  margin-right: 12px;
}
.sideNav__nav-addPlay:hover {
  color: white;
}
.sideNav__nav-play-thumb {
  background: linear-gradient(135deg, #450af5, #c4efd9);
  width: 32px;
  height: 32px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  margin-right: 12px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: white;
}

.sideNav__nav-addPlay:hover i {
  background-color: white;
  transform: translateY(-2px);
}

.sideNav__footer {
  position: fixed;
  bottom: 100px;
  width: 18%;
  max-width: 190px;
  min-width: 180px;
  z-index: 999;
}
.sideNav__user-avatar {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 100%;
  margin-right: 8px;
  overflow: hidden;
}
.sideNav__nav-links a.sideNav__user {
  color: white;
  border-top: 1px solid var(--color-links-sideNav);
  padding-top: 15px;
}
/* ----------------------------------------------------NAVBAR----------------------------------------------------------- */

.navBar a.navBar__link {
  text-transform: uppercase;
  color: #b3b3b3;

  margin: 33px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  position: relative;
  text-decoration: none;
}
.navBar a.navBar__link:hover {
  color: white;
}
a.navBar__link.active::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 4px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-green);
}
/* -----------------------------------------------PLAYER BOTTOM---------------------------------------------*/
.player iframe {
  width: 100vw;
  height: var(--plyer-height-desktop);
  background-color: var(--color-player);
  position: fixed;
  bottom: 0;
  z-index: 99;
}

/* ----------------------------------------------------MODALS----------------------------------------------------------- */
.modal-content {
  background-color: var(--color-bacl-hover);
  color: var(--color-dividers-login);
  text-align: center;
}
.modal-body input {
  border-radius: 30px;
}
.modal-header {
  border-bottom: none;
}
.modal-body input::placeholder {
  border-radius: 30px;
  color: var(--color-links-sideNav);
  font-family: var(--main-font);
  font-size: 12px;
}
.modal-body {
  border-bottom: none;
  padding-bottom: 20px;
}
.modal-footer {
  justify-content: center;
  border-top: none;
  padding-bottom: 30px;
  margin-top: -30px;
}
/* ----------------------------------------LOGIN-PAGE ----------------------------------------------------*/
/* ----------------------------------------LOGIN-PAGE ----------------------------------------------------*/
/* ----------------------------------------LOGIN-PAGE ----------------------------------------------------*/

.login__box {
  width: 80vw;
  max-width: 450px;
  min-width: 375px;
  margin: 0px auto;
  padding: 10px 30px;
}
.login__header {
  text-align: center;
  padding: 22px 0px;
  border-bottom: 1px solid var(--color-dividers-login);
}

.login__logo {
  width: 15%;
  min-width: 130px;
}

.login__box h6 {
  font-weight: 700;
  text-align: center;
}

.login__socials {
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid var(--color-dividers-login);
}
.login__socials a:hover {
  text-decoration: none;
}
.login__socials a,
.btn-default:hover,
.login__socials a,
.btn-default {
  text-decoration: none;
}
.login__socials a.btn-fb:hover,
.login__socials a.btn-black:hover,
.login__inputs a.btn-green:hover {
  text-decoration: none;
  color: white;
}

.login__socials::after {
  content: "OR";
  position: absolute;
  bottom: -10px;
  right: 50%;
  background-color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 0px 10px;
}
.login__inputs {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-dividers-login);
  justify-content: stretch;
  align-items: stretch;
}
.input-group-text {
  background-color: transparent !important;
}

.login__forgotPass a {
  color: var(--color-green);
}

.login__signup {
  padding-top: 24px;
}

/* -----------------------------------------------ALBUMS PAGE---------------------------------------------*/
/* -----------------------------------------------ALBUMS PAGE---------------------------------------------*/
/* -----------------------------------------------ALBUMS PAGE---------------------------------------------*/

/*----------------------------------------Jumbotron Artist Page--------------------------------------------*/

.jumbotron {
  background-image: url("https://cdn.britannica.com/83/149183-050-25913164/Queen.jpg");
  background-size: cover;
  margin-bottom: 0 !important;
  position: relative;
  min-height: 40vh;
}

.jumbotron h1,
p {
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 80px;
}

.jumbo-content {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin-top: 80px;
}
.jumbo-content h6:first-child {
  color: #b3b3b3;
}

.buttons-wrapper {
  display: inline;
  margin-right: 15px;
}

.buttons-wrapper > button {
  padding: 15px 43px;
  margin-right: 20px;
}
.buttons-wrapper i {
  color: white;
  font-size: 30px;
}

.jumbo-links {
  margin-top: -50px;
  background-color: rgba(25, 20, 20, 0.26);
}

.jumbo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    9deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(116, 115, 113, 0.4243870578778135) 100%
  );
}
.jumbo-links > a {
  color: #b3b3b3;
}
.jumbo-links > a:hover {
  color: white;
  text-decoration: none;
}

/* -----------------------------------------------SINGLE ALBUM PAGE ---------------------------------------------*/
/* -----------------------------------------------SINGLE ALBUM PAGE ---------------------------------------------*/
/* -----------------------------------------------SINGLE ALBUM PAGE ---------------------------------------------*/
.single-album {
  margin-top: 8vh;
}
.single-album h3 {
  font-weight: bold;
  color: aliceblue;
}

.single-album .card-title {
  font-weight: bold;
}
.single-album .card-spotify {
  background-color: black;
  color: white;
}
.single-album .card-body h5 {
  font-size: 24px;
  text-align: center;
}
.single-album .card-body h6 {
  color: var(--color-links-sideNav);
  font-size: 16px;
}

.single-album .table {
  background-color: #0f0f0f;
  font-size: 1.1em;
}

.single-album .row {
  background-color: #0f0f0f;
}

.single-album .card {
  border: 0;
}

.single-album .card > * {
  color: white;
  background-color: #0f0f0f;
}

.single-album .card h6 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1em;
  color: #b3b3b3;
}

.single-album .card.icons-wrapper {
  margin-top: 30px;
}

.single-album .row {
  width: 93%;
  margin: 30px auto;
}
.single-album .card {
  background-color: transparent;
}

.single-album .icons-wrapper i {
  padding: 10px;
  font-size: 25px;
}
.single-album table tr i.fa-play-circle {
  display: none;
  transition: all 0.3s ease-in;
}
.single-album table tr:hover {
  background-color: var(--color-player);
  cursor: pointer;
  animation-name: moveOnHover;
  animation-duration: 0.3s;
  transform: scaleX(2%);
}
.single-album table tr:hover th i.fa.fa-music {
  display: none;
}
.single-album table tr:hover .fa-play-circle {
  display: block;
  font-size: 30px;
  color: var(--color-green);
}

@keyframes moveOnHover {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* -----------------------------------------------INDEX ---------------------------------------------*/
/* -----------------------------------------------INDEX ---------------------------------------------*/
/* -----------------------------------------------INDEX ---------------------------------------------*/

/*----------------------------------------Cards -  Index Page--------------------------------------------*/

h3 {
  font-weight: bold;
  color: aliceblue;
}

.card-title {
  font-weight: bold;
}

.card-body > h5 {
  font-size: 12px;
}

.card-body h6 {
  color: var(--color-links-sideNav);
  font-size: 12px;
}

.card-spotify {
  background-color: transparent;
  position: relative;
  color: white;
  border-style: none;
  margin: auto;
  transform: translateY(0);
  transition: box-shadow 0.3s ease, transform 0.7s ease;
}

.card-spotify:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.433);
}

.img-albums:hover img {
  opacity: 0.5;
}

.imgAlbum {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgAlbum i {
  visibility: hidden;
}

.imgAlbum:hover i {
  cursor: pointer;
  visibility: visible;
}

.play_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.hearth_container {
  position: absolute;
  right: 0.5em;
  bottom: 0;
}

.playFav:hover {
  color: green;
}

.hearthFav {
  font-size: 2rem;
}

.hearthFav:hover {
  color: red;
}

/* -----------------------------------------------PLAYLIST ---------------------------------------------*/
/* -----------------------------------------------PLAYLIST ---------------------------------------------*/
/* -----------------------------------------------PLAYLIST ---------------------------------------------*/
.playlist__jumbotron {
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ----------------------------------------MEDIA QUERIES ----------------------------------------------------*/

@media screen and (max-width: 1200px) {
  .navBar a.navBar__link {
    font-size: 12px;
    margin: 33px 10px;
  }
}

@media screen and (max-width: 768px) {
  .sideNav {
    position: fixed;
    bottom: 0;
    height: 80px;
    max-width: none;
    width: 100vw;
    padding: 10px;
    align-items: center;
    justify-content: center;
    z-index: 98;
  }
  .sideNav__top {
    position: static;
  }
  .sideNav__nav-links {
    width: 100vw;
    justify-content: space-around;
    padding-top: 10px;
  }
  .sideNav__nav-links a {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
  }
  .index__navBar {
    display: flex;
    flex-direction: column;
  }

  .navBar a.navBar__link {
    font-size: 12px;
    margin: 33px 20px;
  }
  .navBar a {
    font-size: 12px;
    margin: 33px 20px;
  }

  .index__navBar {
    flex-direction: column;
    align-items: center;
  }
  .index__navBar a.navBar__link {
    margin: 15px 20px;
    font-size: 16px;
    color: white;
  }
  .navBar__hamburger i {
    font-size: 30px;
    margin-right: 30px;
  }
  /* PLAYER BOTTOM*/

  .player iframe {
    height: 80px;
    bottom: 60px;
  }
}
